@import url("font-awesome.css");
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-Light'),
    local('Source Sans Pro'),
    url('../fonts/SourceSansPro-Light.eot') format('embedded-opentype'),
}
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-Regular'),
    local('Source Sans Pro'),
    url('../fonts/SourceSansPro-Regular.eot') format('embedded-opentype'),
}
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-Semibold'),
    local('Source Sans Pro Semibold'),
    url('../fonts/SourceSansPro-Semibold.eot') format('embedded-opentype'),
}
html {margin:0; padding: 0; height: 100%; -webkit-touch-callout:none; -webkit-user-select:none; }
body {margin:0; padding: 0; width:100% !important; height:100%; overflow:hidden;
    background: linear-gradient(to bottom, rgba(39,92,117,1) 0%,rgba(56,108,153,1) 100%);
    background: url(../img/voila_bgr.png);
    background-repeat: no-repeat;
    /*background-size:100% 100%;*/
    background-size: 3000px 2000px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.theme {
    background: url(../img/voila_bgr.png) no-repeat !important;
    background-size:2000px 1400px !important;
    background-origin: content-box;
}

div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

input:focus, button:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* HEADERS DATA */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px;
}

h2{font-family: 'Source Sans Pro', sans-serif; min-width: 256px; padding:10px;}
h3{font-family: 'Source Sans Pro', sans-serif; min-width: 64px; padding:10px;}
h4{font-family: 'Source Sans Pro', sans-serif; padding: 5px; font-size: 16px;}
h5{font-family: Arial, Helvetica, sans-serif; font-size:14px; padding: 2px;}
textarea {-webkit-appearance:none; min-height:80px; border:1px solid #DEDEDE; border-radius:0 0 3px 3px; margin:0;}

.simple-text {text-align: left;}
.simple-text h2, .simple-text h3, .simple-text h4 {text-align: center;}

.app-color-green {color:rgba(0, 195, 167,0.9);}

.centered {text-align: center !important;}
.righted {text-align: right !important;}
.lefted {text-align: left !important;}

.easy-padded {padding-left:10%;}
.easy-padded tr td {padding-left:10%;}
.padded {padding-left:20%;}
.padded tr td {padding-left:20%;}
.real-padded {padding-left:30%;}
.real-padded tr td {padding-left:30%;}

.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}

.inline {display: inline-block !important;}
.hidden {display: none;}
.white {color:#f8f8f8 !important;}
.black {color:#333333 !important;}
.info {font-style: italic; font-size:12px;}
.nopadding {padding:0 !important;}
.nomargin {margin:0 !important;}
.clearfix {clear:both; width:100%; height:1px;}
.active {color:rgba(0, 195, 167,0.9) !important;}
.active2 {color:#d2e638 !important;}
.touch-scroll {-webkit-overflow-scrolling: touch; overflow-y: scroll; overflow-x: hidden;}

.full-width {width:100%;}
.full-width tr {width:100%;}
.half-width {width:50%;}

.height-normal {height:64px;}

.margin-t10 {margin-top:10px;}
.margin-t20 {margin-top:20px;}

.main-container {background-color:#ffffff !important;}

.c_fn_select {border:none; border-radius:8px; -webkit-appearance:none; text-align:center; text-align: -webkit-center;
    height:36px; width:128px !important; font-size:22px; background:none; padding-left:40px; color:#ffffff; display: inline-block;}

.navbar {height:76px !important; padding-top:20px !important;}
.navbar-toggle {padding-right:0 !important; margin-right:0; width:44px; height:48px; padding-top: 0; border-color:#f8f8f8 !important; border:none; transition: all 0.2s ease;}
.navbar-toggle:active {border-color:rgb(63,76,107) !important; border:none;}
.icon-bar {border-color: inherit !important;}
.navbar-collapse {/*background: linear-gradient(to bottom, rgba(39,51,68,0.9) 0%,rgba(139,160,183,0.7) 100%) !important;*/
    position: absolute; width:100%; height:auto; z-index:910; padding-top:76px; background-color: #333333;}
.navbar-outzone {z-index:900; width:100%; height:100%; background: none; top:0; left:0; position: absolute;}
.navbar-header {padding-top: 10px !important;}
.navbar-brand {padding:10px 1px 10px 10px !important; max-width:225px !important; height:42px !important; overflow: hidden; font-size:24px; letter-spacing:-0.02em;}
.navbar-brand i {padding-left:8px; font-size:14px;}
.brand {  padding: 10px 1px 10px 10px !important;  overflow: hidden;  font-size: 24px;  letter-spacing: -0.02em; font-weight: lighter;}
.cine_nav_bg_trans {
    background: linear-gradient(to bottom, rgba(39,51,68,1) 0%,rgba(139,160,183,0.4) 100%) !important; border:none !important;
}

.cine_nav_bg_none {
    background:linear-gradient(rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    background-image: linear-gradient(rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    background-image: -webkit-linear-gradient(rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    background-image: linear-gradient(rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    /*background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0,rgba(39,51,68,1)),color-stop(1,rgba(80,80,100,0))) !important;*/
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0,rgba(39,51,68,1)),color-stop(1,rgba(80,80,100,0))) !important;
    border:none !important;
    position: absolute !important;
}

/* BUTTONS STYLES */

.cine_fn_simple_btn {
    position: relative; min-width: 24px; min-height: 21px; padding:5px 8px 5px 8px; margin: 0 4px 0 4px;
    color:#f8f8f8; cursor: pointer; background-color:#46b6d1; display: inline-block; font-size: 15px;
    text-align: center; overflow: hidden; border-radius: 4px; text-decoration: none; line-height:1.4;
    border: 1px solid transparent; font-family: 'Source Sans Pro', sans-serif; font-weight:normal;
}
.cine_fn_simple_btn:hover {background-color:#40b0d0 !important;}

.cine_fn_color_btn {
    position: relative !important; min-width: 96px !important; padding:5px 8px 6px 8px !important;
    border-radius: 4px !important; height: auto !important; min-height:40px;
    margin: 10px !important;  color:#f8f8f8 !important; cursor:pointer; display:inline-block;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important; background:#0c4f79;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
    /*
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.02, #007dc1), color-stop(1, #0061a7)) !important;
    background:-moz-linear-gradient(top, #007dc1 2%, #0061a7 100%) !important;
    background:-webkit-linear-gradient(top, #007dc1 2%, #0061a7 100%) !important;
    background:linear-gradient(to bottom, #007dc1 2%, #0061a7 100%) !important;
    */
    background:rgba(0, 195, 167,0.9);
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    transition: all 0.1s ease;
}

.cine_fn_color_btn_i {
    position: relative !important; min-width: 96px !important; padding:5px 8px 6px 8px !important;
    border-radius: 4px !important; height: auto !important; min-height:40px;
    margin: 10px !important;  color:#f8f8f8 !important; cursor:pointer; display:inline-block;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
    background-color:#34495E;
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    transition: all 0.1s ease;
}

.cine_fn_color_btn:active {box-shadow: inset 0 0 30px 0 rgba(20,20,20,0.3);}

.cine_fn_light_btn {
    position: relative !important; width:90%; padding:5px 8px 6px 8px !important;
    border-radius: 4px !important; height: auto !important; min-height:40px;
    margin: 10px !important; border:1px solid rgba(0, 195, 167,0.9); color:#999999 !important; cursor:pointer; display:inline-block;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important; background:transparent;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
    /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3);*/

    transition: all 0.1s ease;
}

.cine_fn_black_btn {
    position: relative !important; min-width:192px !important; padding:5px 8px 6px 8px !important;
    border-radius: 4px !important; height: auto !important; min-height:40px;
    margin: 10px !important; /*border:1px solid rgb(25,25,25);*/ border:none; color:#f8f8f8 !important; cursor:pointer; display:inline-block !important;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
    background-color:rgba(0, 195, 167,0.9);
    /* box-shadow:inset 0px 1px 10px 0px rgba(25,25,25,0.3); text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
    transition: all 0.1s ease;
}

.cine_fn_trans_btn {
    position: relative !important; min-width:192px !important; padding:5px 8px 6px 8px !important;
    border-radius: 4px !important; height: auto !important; min-height:40px;
    margin: 10px !important; border:1px solid rgba(0, 195, 167,0.9); color:#f8f8f8 !important; cursor:pointer; display:inline-block;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    transition: all 0.1s ease;
}

.cine_fn_frame_btn {
    position: relative !important; min-width: 96px !important; padding:5px 8px 6px 8px !important;
    height: auto !important; min-height:40px;
    color:#AAAAAA; cursor:pointer; display:inline-block;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important; background: none; border: none;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
}

.cine_fn_color_btn:active {
    -webkit-box-shadow: inset 0px 1px 10px 0px rgba(10,10,10,0.1); border:1px solid #0034ab !important;
}
.cine_fn_color_btn_dang {
    /*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))) !important;
    background: -webkit-linear-gradient(top, rgba(255,48,25,1) 2%,rgba(207,4,4,1) 100%) !important;
    border:1px solid rgba(207,4,4,1) !important; box-shadow:none;
    */
    background-color: rgba(255,48,25,0.9);
    -webkit-tap-highlight-color: transparent !important;
    transition: all 0.1s ease;
}
.cine_fn_color_btn_good {
    /*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(41,154,11,1)), color-stop(100%,rgba(25,137,8,1))) !important;
    background: -webkit-linear-gradient(top, rgba(41,154,11,1) 2%,rgba(25,137,8,1) 100%) !important;
    border:1px solid rgba(25,137,8,1) !important;
    */
    background:rgba(0, 195, 167,0.9);
    box-shadow:none;
    -webkit-tap-highlight-color: transparent !important;
    transition: all 0.1s ease;
}
.cine_btn_active {/*background:#009900 !important; border:1px solid #008800 !important; box-shadow:inset 0px 1px 10px 0px #007700; */
    background-color: rgba(0, 195, 167,0.9);
}

.cine_side_btn {word-break:break-word;word-wrap:break-word; height:100% !important; min-width:48px !important; width:92% !important;}
.cine_short_btn {word-break:break-word;word-wrap:break-word; min-width:40px !important; width:92% !important;}
.cine_table_btn {word-break:break-word;word-wrap:break-word; min-width:40px !important; width:92% !important; margin:0 !important;}

.c-btn-delete {font-size:16px; color:#f8f8f8; font-family:'Glyphicons Halflings'; font-style:normal;font-weight:normal; line-height:1; margin-top:7px;}
.c-btn-delete:before {content:"\e020";}

/* .cine_fn_color_btn:hover {background:#135b89 !important;} */
.cine_fn_color_btn_press {}

.btn {width:56px; height:56px; border-radius:28px; font-size: 13px;}
.btn-danger {-webkit-tap-highlight-color: rgba(0,0,0,0) !important; transition: all 0.1s ease;}

/* SELECTS */
.select-datepicker {height:auto; width:100%; font-size:20px; border:none; box-sizing: border-box; background-color:none;}
.select-timepicker {border:none; height:36px;}
.getsetdate-ctrl {border-radius:8px; height:46px; padding-top:6px; width:100%; text-align:center; font-size:22px !important; background:rgba(0, 195, 167,0.9); background-color: #34495E; color:#f8f8f8; margin-top:8px;}


.cine_fn_cbar {
    display: block; width: 100%; height: 48px; font-family: 'Source Sans Pro', sans-serif; font-weight:normal; font-size: 15px; line-height:1.4; text-align: left;
}
.cine_fn_cbar_elem {
    display: inline-block; height: 34px; padding: 14px 8px 0 8px; margin: 0; cursor: pointer;
}
.cine_fn_cbar_elem:hover {
    background-color: #396668; color: #f8f8f8;
}

/* FORMS DATA */
.cine_form_green {
    position: relative;
    width:90%;
    height: auto;
    padding-top:10px; padding-bottom: 10px;
    display: inline-block;
}

.cine_form_green label {
    width: 100%;
    font-size: 16px;
    color:rgba(0, 195, 167,0.9);
    display: inline-block;
}

.cine_form_green input {
    width: 100%;
    display: inline-block;
    border:1px solid rgba(0, 195, 167,0.9);
    border-radius:8px;
    height: 64px;
    text-align: center;
    font-size: 38px;
    color:#888888;
    letter-spacing: -2px;
}

.cine_fn_form_default {
    width:auto; height: auto; padding: 12px; border-radius: 8px;
    background: #f8f8f8; min-width: 32px; min-height: 32px; display: inline-block;
}
.cine_fn_form_default input { -webkit-appearance: none;
    width: 100%; min-width: 16px; border: 1px solid #dedede; border-radius: 2px;
    height: 40px; background: #ffffff; display: block;
    margin-top:4px; font-size: 20px; box-shadow: none; text-shadow: none;
}
.cine_fn_form_default input[type="submit"], input[type="button"] {
    width:auto; padding: 6px 16px 6px 16px; height: auto; margin: 4px; display: inline-block;
    background: #396668; color:#ffffff; font-size: 15px; font-weight:normal; line-height:1.4;
    border-radius: 4px; cursor: pointer; font-family: 'Source Sans Pro', sans-serif;
}
.cine_fn_form_default select{
    width:auto; max-width: 196px; display: block; margin: 8px 0 4px 0;
}
.cine_fn_form_default textarea{
    min-height: 64px; border: 1px solid #dedede; padding:6px;
}
.cine_fn_form_default label {
    font-size:12px; text-align: left; width: 100%; display: block; margin-top: 4px; color:#666666; font-weight: 300;
}
.cine_fn_form_default a {
    font-size: 12px; text-decoration: none;
}
.cine_fn_form_centerer {
    min-width:128px; width:auto; display:inline-block; margin:0 auto; min-height:64px; text-align:center;
}

#cine_fn_login_form, #cine_fn_signup_form, #cine_fn_signup_facebook {
    text-align: center; font-family: 'Open Sans Condensed', sans-serif;
}
#cine_fn_signup_facebook a {
    display: inline-block; background: #143270; padding: 8px; color:#f8f8f8; text-decoration: none; margin:4px;
    border-radius: 2px;
}

.cine_fn_form_search {width: auto; height: auto; display: inline-block; margin: 0 auto;
    min-width: 64px; min-height: 64px; text-align: center;
}
.cine_fn_form_search input {
    height: 32px; color: #666666; font-size: 20px; border: 2px solid #ddeeff; width: 90%; margin:10px 5% 10px 5%;
}
.cine_fn_form_search h2,h3 {padding: 2px; margin: 2px;}

.cine_fn_form_search_submit {
    width:auto !important; height: auto; margin: 4px; display: inline-block;
    background: #396668; border:none !important; cursor: pointer;
    color: #f8f8f8 !important; padding: 6px 16px 6px 16px !important;
    font-size: 15px !important; font-weight:normal; line-height:1.4;
    border-radius: 4px;  font-family: 'Source Sans Pro', sans-serif;
}

/* FRAMES */
.cine_fn_whiteframe {
    border-radius: 8px; background-color: #f8f8f8; border: 4px solid #dedede;
    min-width: 64px; min-height: 64px; color: #222222;
    margin:5px; padding: 8px; display: inline-block;
}

.cine_fn_modal_default {
    position: absolute; display: none; color: #222222; width:100%;
    /*box-shadow: 1px 0 10px 1px rgba(200,200,200,0.75);*/ overflow-x:hidden; overflow-y: hidden;
}
.cine_fn_modal_centerer {
    min-width:128px; display:inline-block; margin:0 auto; text-align:center;
    background-color: #f8f8f8; width:100% !important; /* min-height: calc(100% + 1px); */
    /*  overflow-x:hidden;  overflow-y:scroll; -webkit-overflow-scrolling: touch; overflow-y:scroll; */
}
.cine_fn_modal_centerer::-webkit-scrollbar { display:none;}

.cinesubmodal {background:#f8f8f8;}

.c_modal_fancy_bg {background:radial-gradient(ellipse at center center , rgba(29, 58, 71, 0.75) 0px, #13141C 80%) repeat scroll 0% 0% transparent;}

.cine_fn_domframe {width:96%; margin:5px 2% 5px 2%; padding:5px 1% 0 1%; height:auto; clear:both;}
.cine_fn_domframe_l {/*background-color:#dedede;*/ background-color:rgb(0,195,167); font-weight:bold; font-size:14px; width:100%; padding:4px 2% 4px 2%;
    text-align:left; display:inline-block; clear:both; border-radius:3px 3px 0 0; color:#FFFFFF;}
.cine_fn_domframe_c {background-color:#f0f0f0; width:100%; padding:4px 2% 4px 2%; display:inline-block; border-radius:0 0 3px 3px; overflow:hidden;}

/* PAGE ELEMENTS */
.cine_fn_bg_anima{
    width:100%; height:100%; position:relative; overflow:hidden;}

.cine_fn_mp_contelem{
    width: 100%; height: 100%; position:absolute; z-index:10;}

.CartProduct {padding-top:10px; border-bottom: 1px solid #777777 !important;}
.cine_fn_resto_list_e { height:auto; padding:5px !important; position:relative; text-align:left !important;}
.cine_fn_resto_e_info {display: block; /* position:relative;*/ height:110px; padding-left: 10px !important;}
.cine_fn_resto_e_data {display: block; position:relative; min-height:128px; padding-left: 10px !important; padding-right:10px; float:right; overflow:hidden; min-width:96px; padding-top:32px;}
.cine_fn_resto_e_title {text-align: left; font-weight: bold; font-size: 16px; max-height:42px; position: relative; display: block; overflow: hidden; }
.cine_fn_resto_e_desc {font-size: 12px; font-style: italic; color:#666666; padding-top: 4px; height:45px; position: relative; display: block; overflow:hidden;}
.cine_fn_resto_e_dist {font-size: 13px; text-align:right; color:#555555; padding:5px 15px 5px 10px; margin-bottom:5px; position: absolute; top:0; right:0; width:100%;}
.cine_fn_resto_e_addr {position: absolute; bottom: 5px; max-height:42px; width:100%; overflow: hidden;}

.cine_fscr_rtdl {width:80%; padding-top:20px; padding-left:5%; padding-right:5%; color:#FFFFFF; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:24px !important; font-weight: 100 !important;}
.cine_fscr_rtdr {width:20%; padding-top:20px; text-align:left; color:#FFFFFF; font-size:24px; }
.cine_fscr_time_label {margin:5px; color:#FFFFFF; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:18px !important; font-weight: 100 !important;}

.cine_fn_resto_menu_b {height:40px; width:100%; color:#333333; padding-top:4px; padding-bottom:4px; text-align:left; -webkit-transform:translate3D(0,0,0); transition: all 10ms ease;}
.cine_fn_resto_menu_b_b {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.42; height:34px; width:90px;
    padding:5px 8px 8px 24px; color:#f8f8f8; font-weight:300; cursor:pointer; display:inline-block; transition: all 0.2s ease;}
.cine_fn_resto_menu_b_t {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.42; height:28px; width:230px;
    padding:5px 12px 8px 8px; color:#f8f8f8; font-weight:300; cursor:pointer; display:inline-block; float: right; text-align:right; overflow-y:hidden;}
.c-btn-back {display: inline-block; font-size: 12px; font-family: 'Glyphicons Halflings';
    font-style: normal;  font-weight: 100; padding-top:5px;  line-height: 1;  margin-top: 1px;  left: 8px;  position: absolute;
}

.c-btn-back:before {content:"\e079";}
.cine_fn_resto_menu_b_t:after {clear:left;}

.cine_fn_resto_menu_e {height:auto; width:100%; background-color:#dff0d8; color:#666666; font-weight:300; border-bottom:1px solid #CCCCCC; padding-top: 16px; padding-bottom: 8px; }
.cine_fn_resto_menu_eit {text-align:left; display: inline-block; width:80%; padding:0 1% 0 1%; vertical-align:top;}
.cine_fn_resto_menu_eip {text-align:left; display: inline-block; width:16%; padding:0 1% 0 1%; vertical-align:top;}

.cine_fn_resto_menu_l {font-size:20px; padding-top:6px; height:38px; font-weight:lighter; border-bottom:1px solid #CCCCCC;}

.cine_fn_resto_menu_i_d {width:58%; padding:0 1% 0 1%; display: inline-block; vertical-align: top; overflow:hidden;}
.cine_fn_resto_menu_i_p {width:38%; padding:0; display: inline-block; vertical-align: top; overflow:hidden; text-align:right; }
.cine_fn_resto_menu_i_t {width:100%; display:block; text-align:left;}
.cine_fn_resto_menu_i_i {width:100%; display:block; font-style: italic; font-size:12px; text-align:left;}
.cine_fn_resto_menu_i_s {width:100%; display:block; margin-top:10px;}

.cine_fn_resto_menu_i_o {max-width:128px; display:inline-block !important; text-align:center;}
.cine_fn_resto_menu_i_op {width:100%; max-width:100px; display: inline-block; text-align: center; font-size:28px; padding-top:10px;}
.cine_fn_resto_menu_i_ops {width:100%; display: inline-block; min-height:1px;}

.cart_fn_cartglyph { font-size: 24px; color:#f8f8f8;font-family:'Glyphicons Halflings'; font-style: normal;font-weight: normal;line-height: 1;}
.cart_fn_cartglyph:before {content:"\e116";}

.cine_rol_i_dark {color:#F8F8F8 !important; margin-top:10px; margin-bottom:10px; padding-top:5px; position: relative !important;}
.cine_fn_rol_i {width:100%;}
.cine_fn_rol_i_tr {min-height:50px;}
.cine_fn_rol_i_td {position:relative; text-align:left; width:60%; vertical-align:top; overflow: hidden;}
.cine_fn_rol_i_td h5 {font-weight:normal !important;font-size:12px; margin-top:4px; padding-right:2px;}
.cine_fn_rol_i_td div {padding-left:10px; position:relative; max-width:100%; height:21px; overflow: hidden;}
.cine_fn_rol_i_subi span {overflow-y: hidden;}
.cine_fn_rol_i_subi span:after {content:" • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • ";
    color: #AAAAAA; font-size: 8px; line-height: 14px; overflow: hidden;}
.cine_fn_rol_i_subi {padding-left:10px; text-align: left; font-size:12px; color:#777777; height:24px; overflow: hidden;}
.cine_fn_rol_i_subp {position: relative; padding-left:5px; font-size:12px; color:#777777; width:auto; min-width:24px; text-align: left;}
.cine_fn_rol_i_tq {font-weight:normal !important;font-size:16px; padding:5px 2px 5px 2px; width:10%; vertical-align: top; text-align: left;}
.cine_fn_rol_i_tp {font-weight:normal !important;font-size:16px; padding:5px 2px 5px 2px; width:20%; vertical-align: top; text-align: left; overflow: hidden; white-space: nowrap;}
.cine_fn_rol_i_tb {vertical-align: top;}

.cine_fn_rol_i_total{width:100%;}
.cine_fn_rol_i_total_s{height:32px; text-align: left;}
.cine_fn_rol_i_total_s td h4 {padding:0 !important;}
.cine_fn_rol_i_price{text-align:right !important;}

.cine_list_item {background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))) !important;
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%) !important; transition: all 0.2s ease;}
.cine_list_item:active {box-shadow: inset 0 0 30px 0 rgba(20,20,20,0.3);}

.cine-list-small {min-height:54px !important; height: auto; font-family:'Source Sans Pro',sans-serif; padding-top:16px; padding-bottom:8px;
    font-weight:300 !important; font-size:16px; cursor:pointer;
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(246,246,246,1) 47%,rgba(242,242,242,1) 100%) !important;}
.cine-list-normal {height:96px !important; cursor:pointer;}
.cine-list-large {height:128px !important; cursor:pointer;}

.cine_list_card {width:100%; height:96px; padding:2px; border-radius:2px; cursor:pointer;}

.cine_list_btn {background-color:rgb(0,195,167); border-radius:16px; font-family:'Source Sans Pro',sans-serif;
    font-size:16px; min-height:32px; min-width:64px; color:#FFFFFF; -webkit-appearance:none; border:none; margin-right:8px;
    padding:0 8px 0 8px;
}

.cine_list_btn_layer {
    transition: all 250ms ease; height:auto; width:100%;
}

.cine_list_btn_layer_c {
    position: relative; overflow: hidden; width:100%; height: 2px; padding-top: 16px; transition: all 250ms ease;
}

/* HORIZONTAL BAR ITEM */
.cine_fn_hbar{ font-family: Arial, Helvetica, sans-serif;
    width:100%; background-color:#333333; height: 40px; padding:0; text-align: center;
}
.cine_fn_hbar_in{
    display:inline-block; width:100%;
}
.cine_fn_hbar_logo{display:inline-block; width:auto; height:32px; margin:4px 4px 0 4px; vertical-align: top; float: left;}

.cine_fn_hbar_menu{display:inline-block; width:auto; vertical-align: top; height:38px;}
.cine_fn_hbar_menu a {display: inline-block; vertical-align: top; margin:0 5px 0 5px; text-decoration: none;
    padding:12px 4px 10px 4px; color:#f8f8f8;}
.cine_fn_hbar_menu a:hover,.cine_fn_hbar_menu_active {background-color:#43b9ce; color:#333333; }
.cine_fn_hbar_user a img {height:32px !important;}
.cine_fn_hbar_user{display:inline-block; width:auto; height:32px; margin:4px 4px 0 4px; vertical-align:top; float: right;}
.cine_fn_hbar_user div{display: inline-block; width: auto; height: inherit;}

.cine_fn_cart {margin-right:2px; color:#f8f8f8; margin-top:2px; display: inline-block; float:right; width:auto;height:auto;position:relative; content:""; font-family:'Glyphicons Halflings'; font-style: normal;font-weight: normal;line-height: 1; width:32px; height:48px;}
.cine_fn_cart_active {width: 40px !important; padding: 5px 0 2px 6px; height: 48px !important; cursor:pointer; transition: all 0.2s ease;}
.cine_fn_cart_active:before {content:"\e116"; font-size: 28px; color:inherit;}
.cine_fn_cart:active {color:rgb(63,76,107) !important;}


/* ENV PANELS */
.cineRoot {text-align: center; overflow-y: scroll; height:100% !important; -webkit-overflow-scrolling: touch;}
.cartTable {width:100%;}
.cine_fn_navenv_nav {
    min-width:10%; max-width:300px; min-height:128px; border-right: 4px solid #cccccc; box-sizing: border-box;
    background-color: #343434; display: inline-block; vertical-align: top;
}

.cine_fn_navenv_view {
    width: auto;  min-height:128px; border:none;
    background-color: #FFFFFF; display: inline-block; vertical-align: top;
}

.cine_fn_navenv_nav a { text-decoration: none; color:inherit;}

.cine_fn_navenv_nav ul {margin: 0; padding: 0; width: 100%; list-style-type: none;}

.cine_fn_navenv_nav ul li {color:#dedede; margin: 0; padding: 0; width: 100%;}

.cine_fn_usermenu_info {border-bottom: 1px solid #cccccc;}

.cine_fn_usermenu_button {cursor: pointer; min-height: 18px; text-align: center;}

.cine_fn_usermenu_button div {padding:8px 0 8px 0;}

.cine_fn_usermenu_button:hover {background-color: #f8f8f8; color:#333333;}

.cine_fn_env_inline {position:relative; display:inline-block; min-width: 64px; min-height: 64px; vertical-align: top;}

.cine_fn_env_inline img {width: inherit;}


/* Specific */
.cine_fn_resto_cpanel {
    display: inline-block; width: auto; min-width: 320px; min-height: 700px; margin: 0; text-align: left;
}

.cine_fn_resto_itembox { position: relative;
    display:inline-block; width:auto; min-width:15%; min-height:128px; margin:4px 1% 4px 1%; vertical-align:top; background-color: #cd6e00;
    cursor:pointer; padding:0 1% 0 1%; color:#f8f8f8;
}

.cine_fn_resto_itembox h4,p {padding:4px; margin:4px;}

.cine_fn_resto_sidemenu {width:96%; height:auto; position:relative; margin:1%; padding:1%;}
.cine_fn_resto_sidemenu h4 {margin:4px; padding:2px;}
.cine_fn_resto_sidemenu div {display:inline-block;vertical-align:top;padding:4px 1% 4px 1%;}

.cine_fn_resto_sm_ina {
    color:#333333 !important; font-size:15px !important; width: 28%; padding:5px 1% 5px 1%; height:64px; display: inline-block;
    border:1px #dedede solid; cursor: pointer; vertical-align: top; text-align: center
}
.cine_fn_resto_sm_act {background:#396668; color:#f8f8f8! important; }

.cine_fn_resto_itemsep {
    display:inline-block; width:auto; min-width:1%; min-height:128px; margin:0 0 4px 0; vertical-align:top;
}

/* MANAGEMENT */

.cine_fn_resto_ctrl {
    margin:4px; padding: 4px; width: 100%; display: block;
}
.cine_fn_resto_ctrl_btn {

}

/* USER APP ENV */
.cine_fn_userinfo {width:100%; min-height:100px;}
.cine_fn_userinfo td {min-height: 50px;}
.cine_fn_avatar_big {background:#f8f8f8;border-color:#dedede; width:96px; height: 96px; display: inline-block;}
.cine_fn_userinfo_btn {padding:10px 0 10px 0;}

/* NOTIFY */

.c_notify_layer {
    position: absolute; z-index:10001; top:0; left:0; box-sizing: border-box; width: 100%;
    text-align: left; min-height: 56px; color:#f8f8f8; padding-top:28px;
    background-color: transparent;
    background-image:linear-gradient(to bottom, rgba(41,49,66,1) 0%,rgba(51,58,86,0.9) 70%,rgba(45,52,81,0.8) 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px; line-height:1.4; font-weight: 300;
}

.c_notify_i {
    display: block; position: relative; width: 100%; height: auto; min-height: 64px;
}

.c_notify_i:after {clear:left;}

.c_notify_i_c {
    display: inline-block; width: 85%; min-height:64px; vertical-align: top; padding:10px 10px 8px 10px;
}

.c_notify_i_b {
    display:block; width:32px; min-height: 64px; vertical-align: top;
    text-align: right; position: absolute; overflow: hidden; right:10px; top:0;
}

.c_notify_b_b {
    display: inline-block; height:40px; width:32px; font-size:26px; overflow: hidden;
    background-color: transparent !important; border:none !important; line-height:0 !important; letter-spacing:0; position: relative;
}

.c_notify_b_b:after {clear: left;}

/* TIME AND DATE ON MAIN */
.c_datetime {font-size:5vw; position: absolute; bottom:0; height:42px; width:100%; color:#f8f8f8; /*background-color:rgba(50,50,50,0.5);*/ padding:9px 0 5px 2%; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.c_date { font-style: normal;font-weight:100; vertical-align: top; display: inline-block; width: 48%; text-align:left; overflow: hidden;}
.c_date:before {content:"\e109 "; height:25px; padding-right:5px; font-size:19px; font-family:'Glyphicons Halflings'; vertical-align: middle; color:#cdebf7; display:inline-block;}

.c_time {font-style: normal;font-weight:100; vertical-align: top; display: inline-block; width: 33%; text-align:left; overflow: hidden;}
.c_time:before {content:"\e023 "; height:25px; padding-right:5px; padding-left:1px; font-size:19px; font-family:'Glyphicons Halflings'; vertical-align: middle; color:#cdebf7; display:inline-block; margin-top:2px;}
.c_time_m {float:left; margin-top:5px; width:40px; text-align:center;}

.c_party {font-style: normal;font-weight:100; vertical-align: top; display: inline-block; width: 15%; text-align:left; overflow: hidden;}
.c_party:before {content:"\e008 "; height:25px; padding-right:5px;  font-size:18px; font-family:'Glyphicons Halflings'; vertical-align: middle; color:#cdebf7; display:inline-block; margin-top:2px;}
.c_party_m {float:left; margin-top:6px; width:40px;  text-align:center;}

.c_vert_datepicker {height:38px; padding-top:8px; padding-bottom:10px;  font-size:20px; font-weight:100; border-bottom:1px solid #DDDDDD; -webkit-transform:translate3d(0,0,0); margin-left:8px; margin-right:8px;}
.c_vert_datepicker_a {background:rgba(0, 195, 167,0.9); background-color: #34495E; color:#ffffff; border:none; border-radius:8px; font-weight: normal; margin-left:0; margin-right:0;}

.c_vtime_c {position:relative; display:inline-block; width:300px; height:60%; margin-top:96px; background:#f8f8f8; overflow:hidden; border-radius:8px;}
.c_vtime_h {display:inline-block; height:100%; margin-top:0; width:50%; vertical-align:top; border-right:1px solid #cccccc; position:relative; overflow:hidden; -webkit-overflow-scrolling:touch;}
.c_vtime_m {display:inline-block; height:100%; margin-top:0; width:50%; vertical-align:top; position:relative; overflow:hidden; -webkit-overflow-scrolling:touch;}
.c_vtime_d {position:relative; display:inline-block; width:300px; height:40px;background:#f8f8f8; overflow:hidden; font-size:32px; margin-top:8px; padding-top:8px; border-radius:8px;}

.c_vtime1 {color:#DDDDDD; width:100%; height:20%; font-size:46px;padding-top:26px;}
.c_vtime2 {color:#AAAAAA; width:100%; height:20%; font-size:48px;padding-top:26px;}
.c_vtime3 {color:#333333; width:100%; height:20%; font-size:50px;padding-top:26px;}
.c_vtime4 {color:#AAAAAA; width:100%; height:20%; font-size:48px;padding-top:26px;}
.c_vtime5 {color:#DDDDDD; width:100%; height:20%; font-size:46px;padding-top:26px;}

.c_vtime_l {position:absolute; left:0; top:46%; width:0; height:0; border-style:solid; border-width:16px 0 16px 27px; border-color:transparent transparent transparent #ff2600; -webkit-transform:rotate(360deg);}
.c_vtime_r {position:absolute; right:0; top:46%; width:0; height:0; border-style:solid; border-width:16px 0 16px 27px; border-color:transparent transparent transparent #ff2600; -webkit-transform:rotate(180deg);}

@media (min-width: 700px) {
    .c_date:before {font-size:3vw;}
    .c_time:before {font-size:3vw;}
    .c_party:before {font-size:3vw;}
    .c_datetime {font-size:3vw;}
}

@media (min-width: 1000px) {
    .c_date:before {font-size:2vw;}
    .c_time:before {font-size:2vw;}
    .c_party:before {font-size:2vw;}
    .c_datetime {font-size:2vw;}
}

@-webkit-keyframes slideInLeft{0%{opacity:0; left:-2000px; -webkit-transform:translate3D(-2000px,0,0);transform:translate3D(-2000px,0,0);}100%{-webkit-transform:translate3D(0,0,0); transform:translate3D(0,0,0); left:0; opacity:1}}
@keyframes slideInLeft{0%{opacity:0;-webkit-transform:translate3D(-2000px,0,0);-ms-transform:translate3D(-2000px,0,0);transform:translate3D(-2000px,0,0)}100%{-webkit-transform:translate3D(0,0,0);-ms-transform:translate3D(0,0,0);transform:translate3D(0,0,0)}}
/*@-webkit-keyframes slideInLeft{0%{opacity:0; left:-2000px; -webkit-transform:translateX(-2000px);transform:translateX(-2000px);}100%{-webkit-transform:translateX(0); transform:translateX(0); left:0; opacity:1}}
@keyframes slideInLeft{0%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px)}100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}}
*/
.slideInLeft
{
    position:absolute !important; -webkit-animation-name:slideInLeft;
    animation-name:slideInLeft; -webkit-animation-duration:150ms; animation-duration:150ms; top:76px;
    display: block; animation-iteration-count:1;
    transition: transform 150ms ease;
}
.slideInLeftStatic
{
    position:relative !important; -webkit-animation-name:slideInLeft;
    animation-name:slideInLeft; -webkit-animation-duration:150ms; animation-duration:150ms;
    display: block; animation-iteration-count:1;
    transition: transform 150ms ease;
}
@-webkit-keyframes slideOutRight{0%{-webkit-transform:translate3D(0,0,0);transform:translate3D(0,0,0);}100%{opacity:0;-webkit-transform:translate3D(2000px,0,0);transform:translate3D(2000px,0,0);}}
@keyframes slideOutRight{0%{-webkit-transform:translate3D(0,0,0);-ms-transform:translate3D(0,0,0);transform:translate3D(0,0,0)}100%{opacity:0;-webkit-transform:translate3D(2000px,0,0);-ms-transform:translate3D(2000px,0,0); transform:translate3D(2000px,0,0);}}
.slideOutRight {
    -webkit-animation-name:slideOutRight;
    animation-name:slideOutRight;
    -webkit-animation-duration:150ms;
    animation-duration:150ms;
    animation-delay:150ms;
    -webkit-animation-delay:150ms;
    top:76px;
    display: block;
    transition: transform 150ms ease;
    }
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3D(0,1500px,0);transform:translate3D(0,1500px,0)}100%{opacity:1;-webkit-transform:translate3D(0,0,0);transform:translate3D(0,0,0)}}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3D(0,1500px,0);-ms-transform:translate3D(0,1500px,0);transform:translate3D(0,1500px,0)}100%{opacity:1;-webkit-transform:translate3D(0,0,0);-ms-transform:translate3D(0,0,0);transform:translate3D(0,0,0)}}
.fadeInDown {
    -webkit-animation-name:fadeInDown;
    animation-name:fadeInDown;
    -webkit-animation-duration:250ms;
    animation-duration:250ms;
    transition: transform 250ms ease;
}

.glyphicon-cross:before {content:"\e014"}
.glyphicon-refresh {margin-top:3px;}
.glyphicon-refresh:before {content: "\e014";}
.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.fadeInDown::-webkit-scrollbar { display:none;}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.c_ordbox {
    -webkit-transition: all 100ms ease;
}
.c_ordelem {
    vertical-align:top; text-align:center; display:inline-block; height:180px; color:rgba(0, 195, 167,0.9);
}

.c_ordelem h1 {color: sandybrown; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-top:10px;}

/* PROMO CODES */
.cine_promocode {width:90%; height: 120px; display: inline-block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; overflow: hidden;}
.cine_promocode h2 {width:auto; min-width:100px !important; height: 50px; padding-top: 14px; font-size:40px; color:rgba(0, 195, 167,0.9); margin:0 !important;}
.cine_promocode h3 {width: 100%; height: 32px; font-size:24px;}
.cine_promocode h4 {width: 100%; height: 34px; font-size:18px; color:rgba(0, 195, 167,0.9);}