@charset "utf-8";
a { color: #34495E;
	text-decoration: none;
	outline: none !important;
   -moz-transition: all .2s ease-in;
   -webkit-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   transition: all .2s ease-in;
}
a:hover, a:focus {
	text-decoration: none;
	cursor: pointer;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	color: #34495E;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 21px;
	position: relative;
}
/* =============================================================== */
/* CUSTOMIZE NAVBAR
/* =============================================================== */
.navbar-toggle {
    background: none !important;
    margin-top: 0 !important;
    background: rgba(0, 0, 0, 0.2);
}
.navbar-toggle .icon-bar {
    border: solid 2px #fff;
}
.menuWrap {
	border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.brandWrap {
}
.navbar-brand {
	padding: 10px;
	color: #FFFFFF;
	font-size: 25px;
	font-weight: lighter;
}
.navbar .navbar-top {
	height: 30px;
	transition: all 0.1s ease-out 0s;
	-webkit-transition: all 0.1s ease-out 0s;
	-moz-transition: all 0.1s ease-out 0s;
	-ms-transition: all 0.1s ease-out 0s;
	-o-transition: all 0.1s ease-out 0s;
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	text-transform: uppercase;
}

/***  ------- Mega Menu Start ------- ***/
.megamenu .nav, .megamenu .dropup, .megamenu .dropdown, .megamenu .collapse {
	position: static;
}
.megamenu .navbar-inner, .megamenu .container {
	position: relative;
}
.megamenu .dropdown-menu {
	left: auto;
}
.megamenu .dropdown-menu > li {
	display: block;
}
.megamenu .nav.pull-right .dropdown-menu {
	right: 0;
}
.megamenu .megamenu-content {
	padding: 20px 30px;
 *zoom: 1;
}
.megamenu .megamenu-content:before, .megamenu .megamenu-content:after {
	display: table;
	content: "";
	line-height: 0;
}
.megamenu .megamenu-content:after {
	clear: both;
}
.megamenu.navbar .nav > li > .dropdown-menu:after, .megamenu.navbar .nav > li > .dropdown-menu:before {
	display: none;
}
.megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
	width: 100%;
	left: 0;
	right: 0;
}

@media (max-width: 969px) {
.megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
 	width: auto;
}
.megamenu .megamenu-content {
 	padding-left: 0;
 	padding-right: 0;
}
.megamenu .dropdown-menu > li > ul {
 	display: block;
}
}
/* megamenu end */

.megamenu-content img {
	max-width: 100%;
}
.megamenu-content ul li {
	border-bottom: 1px solid #EDEDED;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.megamenu-content ul li a {
	font-size: 12px;
}
.navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
a.dropdown-toggle {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    display: block;
}

/* =============================================================== */
/* CATEGORY PAGE START
/* =============================================================== */

.main-container {
	min-height: 0px;
}
.headerOffset {
	padding-top: 80px;
}
.subCategoryList .thumbnail {
 -moz-transition: all .2s ease-in;
 -webkit-transition: all .2s ease-in;
 -o-transition: all .2s ease-in;
 transition: all .2s ease-in;
}
.tree .dropdown-menu {
	position: relative !important;
	float: none !important;
	box-shadow: none !important;
	border-right: 0 !important;
	border-bottom: 0 !important;
	border-top: 0 !important;
}
.open-tree > .dropdown-menu {
	display: block;
}
.dropdown-menu-tree {
	display: none;
	margin-bottom: 20px;
}
/* =============================================================== */
/* CART PAGE
/* =============================================================== */

.quanitySniper {
	height: 30px;
	padding: 0;
	text-align: center;
	width: 40px;
}
tr.CartProduct td {
	text-align: center;
}
tr.CartProduct td:nth-child(2) {
 text-align: left;
}
tr.CartProduct {
	border-bottom: 1px solid #E7E9EC;
}
tr.CartProduct td {
	padding: 10px 0;
}

@media (max-width: 1024px) {
.navbar.stuck .navbar-top {
 margin-top: 0 !important;
}
.banner {
 margin-top: 70px !important;
}
.header-version-2 .banner {
 margin-top: 130px !important;
}
}
 @media (max-width: 979px) and (min-width: 768px) {
.cartMenu a.dropdown-toggle {
 height: 50px;
}
}
 @media (max-width: 979px) {
	 
/*** iPads (portrait and landscape) ***/

}

 @media (max-width: 767px) {
/* phones */

.miniCartProduct, .miniCartProduct a, .miniCartProduct p, .miniCartProduct .size, .miniCartProduct .price, .dropdown-header {
 color: #FFFFFF;
}
.megamenu-content ul li a, .megamenu-content ul li p, .megamenu-content ul li, .navbar-nav .dropdown a, .navbar-nav .dropdown {
 color: #fff;
}
.searchInputBox {
 max-width: 80%;
}
.megamenu{
 width: 100%;
 left: 0;
 right: 0;
}
.megamenu-content ul {
 margin-bottom: 15px;
}
.megamenu-content ul li {
 border-color: rgba(255, 255, 255, 0.2);
}

}


