
@-webkit-keyframes XWFslideInLeftDroid{
    0%{
        opacity:0;
        /*
        -webkit-transform:translate(-2000px,0);
        transform:translate(-2000px,0);
        */
    }
    100%{
        /*
        -webkit-transform:translate(0,0);
        transform:translate(0,0);
        */
        opacity:1;
    }
}

@-webkit-keyframes XWFslideInLeft {
    0% {
        opacity: 1;
    }
    100%{
        opacity:1;
    }
}

@keyframes XWFslideInLeftDroid{
    0%{
        opacity:0;
        /*
        -webkit-transform:translate(-2000px,0);
        -ms-transform:translate(-2000px,0);
        transform:translate(-2000px,0)
        */
    }
    100%
    {
        /*
        -webkit-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0);
        */
        opacity:1;
    }
}

@-webkit-keyframes XWFslideOutRightDroid{
    0%{

        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0);

    }
    100%{

        -webkit-transform:translateX(2000px);
        -ms-transform:translateX(2000px);
        transform:translateX(2000px);

    }
}

@keyframes XWFslideOutRightDroid{
    0% {
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0);
    }
    100% {
        -webkit-transform:translateX(2000px);
        -ms-transform:translateX(2000px);
        transform:translateX(2000px);
    }
}

.xwf_slideInLeft
{
    -webkit-backface-visibility: hidden;
    position:absolute !important;
    box-shadow: none !important;
    animation-name: none !important
    -webkit-animation-name:none !important;
    display: block !important;
    animation-duration: 0ms !important;
    transition: none !important;

    /* -webkit-transform: translateZ(0px); */

    /*
    -webkit-animation-name:XWFslideInLeftDroid;
    animation-name:XWFslideInLeftDroid;
    -webkit-animation-duration:200ms;
    animation-duration:200ms;
    display: block;
    animation-iteration-count:1;
    transition:all 200ms ease-out;
    */
}

.xwf_window_content {
    overflow-x: hidden !important;
    overflow-y: scroll;
    min-height:128px;
    min-width:128px;
    width:100%;
    border:none;
    display: inline-block;
    background-color:#f8f8f8;
    text-align: center;
    /*-webkit-transform: translateZ(0px) !important;*/
    /*-webkit-transform: translate3d(0,0,0) !important; */
    /*
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;*/
    -webkit-overflow-scrolling: touch !important;
    /* -webkit-overflow-scrolling: auto !important; */
}

.xwf_slideOutRight
{
    -webkit-backface-visibility: hidden;
    box-shadow: none !important;
    -webkit-animation-name:XWFslideOutRightDroid;
    animation-name:XWFslideOutRightDroid;
    -webkit-animation-duration:1000ms;
    animation-duration:1000ms;
    transition:all 1000ms ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: translateZ(0px);

}

.cine_list_item {
    /*
    -webkit-transform: translate3d(0,0,0) !important;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    */
    transition: none !important;
     /* -webkit-transform: translateZ(0px) !important; */
    overflow: visible !important;
    opacity: 1 !important;
}
.cine-list-small {
    background:#f8f8f8 !important;
    border-bottom: 1px solid #dedede !important;
     /* -webkit-transform: translateZ(0px) !important; */
    overflow: visible !important;
    opacity: 1 !important;
}